.envios-button-open{
    width: 100%;
    min-height: 56px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    padding: 10px;
    background: var(--white);
    /* border: 1px solid var(--gray); */
    border-radius: 4px;
    transition: var(--t-200ms-linear);
}

.envios-button-open:hover{
    background: rgba(0 0 0 / 0.05);
    /* border: 1px solid transparent; */
}

.envios-button-open p,
.envios-button-open span{
    color: var(--text);
}

.envios-button-open span{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.envios-button-open p{
    margin-right: auto;
    text-align: left;
}

/**/

.envios-nombre{
    width: 100%;
    height: 56px;
    padding: 0 20px;
    border: 1px solid var(--gray);
    outline: 0;
    border-radius: 4px;
    color: var(--text);
}

/**/

.envios-container{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: calc(100% - 40px);
    height: auto;
    max-height: calc(100vh - 40px);
    max-height: 600px;
    overflow-y: auto;
    max-width: 480px;
    padding: 20px;
    background: var(--white);
    transition: var(--t-200ms-linear);
    interpolate-size: allow-keywords;
    /* border-radius: 4px; */
    display: flex;
    flex-direction: column;
    z-index: 301;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.envios-container::-webkit-scrollbar{
    background: rgba(0 0 0 / 0.1);
    width: 4px;
}

.envios-container::-webkit-scrollbar-thumb{
    background: var(--color-1);
    /* border-radius: 4px; */
}

.envios-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.envios-select{
    position: relative;
}

.envios-select-top{
    width: 100%;
    height: 56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid rgba(0 0 0 / 0.1);
    transition: var(--t-200ms-linear);
}

.envios-select-options-container{
    /* position: absolute;
    top: calc(100% + 10px);
    left: 0; */
    background: var(--white);
    flex-direction: column;
    width: 100%;
    height: 0;
    max-height: calc(56px * 3);
    border-radius: 6px;
    background: var(--white);
    transition: var(--t-200ms-linear);
    overflow-y: auto;
    interpolate-size: allow-keywords;
    border: 1px solid transparent;
    z-index: 1;
}

.envios-select-options-container.active{
    height: auto;
    border: 1px solid rgba(0 0 0 / 0.1);
    margin: 10px 0 20px 0;
}

.envios-select-options-container::-webkit-scrollbar{
    width: 4px;
    background: rgba(0 0 0 / 0.1);
}

.envios-select-options-container::-webkit-scrollbar-thumb{
    background: var(--color-1);
}

.envios-select-options-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.envios-select-options-content p{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
    transition: var(--t-200ms-linear);
}

.envios-select-options-content p:hover{
    background: rgba(0 0 0 / 0.05);
}

/**/

.envios-layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 / 0.25);
    transition: var(--t-200ms-linear);
    backdrop-filter: blur(1px);
    z-index: 300;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}


.envios-layer.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}