.product-details-container{
    min-width: 360px;
}

.product-details-container ul,
.descripcion-list-container ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-details-container ul li,
.descripcion-list-container ul li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.product-details-container ul li span,
.descripcion-list-container ul li span{
    color: var(--color-1);
    font-size: 18px;
}

.product-details-container ul li > div,
.descripcion-list-container ul li > div{
    display: flex;
    gap: 5px;
}

.product-details-container ul li > div div strong,
.descripcion-list-container ul li > div div strong{
    color: var(--black-0);
    font-weight: bold;
    display: inline-block;
}

.product-details-container ul li > div div strong::first-letter,
.descripcion-list-container ul li > div div strong::first-letter{
    text-transform: uppercase;
}
