:root{
    --product-card-images-height: 200px;
}

.category-page-container{
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 10px;
}

.category-page-top{
    grid-column: 1/-1;
}

.category-page-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-page-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-page-right-top{
    display: none;
}

.category-page-products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.pagination-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pagination-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-arrow p{
    color: var(--text);
}

.pagination-arrow span{
    font-size: 24px;
    color: var(--black);
}

.pagination-arrow p,
.pagination-arrow span{
    transition: var(--t-200ms-linear);
}

.pagination-arrow:hover p,
.pagination-arrow:hover span{
    color: var(--color-1);
}

.pagination-page{
    width: 30px;
    height: auto;
    aspect-ratio: 1/1;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    border-radius: 4px;
}

.pagination-page:hover{
    background: rgba(0 0 0 / 0.075);
}

.pagination-page.active{
    background: var(--color-2);
    color: var(--white);
}

.main-category .conteo-container{
    display: none !important;
}

.open-filters{
    display: none;
}

@media screen and (max-width: 800px){
    .main-category{
        margin-top: 200px;
    }

    .category-page-container{
        display: grid;
        grid-template-columns: 240px 1fr;
    }

    .filters-content{
        gap: 10px !important;
    }

    .category-page-products{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    :root{
        --product-card-images-height: 160px;
    }

    .category-page-container{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .category-page-products{
        grid-template-columns: repeat(2, 1fr);
    }

    .category-page-right-top{
        width: 100%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .open-filters{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 38px;
        padding: 0 16px;
        transition: var(--t-200ms-linear);
        border-radius: 3px;
        border: 1px solid rgba(0 0 0 / 0.25);
        border-radius: 25px;
        background: var(--white);
    }

    .category-page-right-top button:hover{
        background: var(--color-1);
        border: 1px solid var(--color-1);
    }

    .category-page-right-top button:hover p,
    .category-page-right-top button:hover span{
        color: var(--white);
        transition: var(--t-200ms-linear);
    }

    /* .category-page-products{
        margin-top: 40px;
    } */
}
