.ultimas-novedades-block-content{
    padding: 10px;
    background: var(--component);
    border-radius: 6px;
}

.ultimas-novedades-products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.ultimas-novedades-products li .product-card .product-card-content .product-card-separar{
    display: none !important;
}

@media screen and (max-width: 600px){
    .ultimas-novedades-products{
        grid-template-columns: repeat(2, 1fr);
    }
}
