.header-bottom-container{
    width: 100%;
    display: flex;
    background: var(--color-2);
    height: 40px;
    padding: 0 20px;
}

.header-bottom{
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom > p:nth-child(2){
    display: none;
}

.header-bottom > p:hover a{
    text-decoration: underline;
}

.header-bottom > ul li a h2{
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
}

.header-bottom > ul li a:hover h2{
    text-decoration: underline;
}

@media screen and (max-width: 800px){
    .header-bottom > p:nth-child(1){
        display: none;
    }

    .header-bottom > p:nth-child(2){
        display: unset;
    }
}

@media screen and (max-width: 600px){
    .header-bottom-container{
        height: 28px;
        padding: 0 10px;
    }

    .header-bottom > p:nth-child(1){
        display: unset;
        width: 100%;
        text-align: center !important;
    }

    .header-bottom > p:nth-child(2){
        display: none;
    }

    .header-bottom > p a{
        font-size: 14px;
    }

    .header-bottom > ul{
        display: none;
    }
}