.product-page-whatsapp{
    width: 100%;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
    border-radius: 4px;
    background: #555555;
    position: relative;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.product-page-whatsapp.active{
    background: var(--whatsapp);
    cursor: pointer;
    pointer-events: unset;
    user-select: unset;
}

.product-page-whatsapp.active::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 110%;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 100%;
    background: #075E54;
    transition: var(--t-200ms-linear);
    scale: 0;
    z-index: 0;
}

.product-page-whatsapp.active:hover::before{
    scale: 1;
}

.product-page-whatsapp img{
    width: 26px;
    height: auto;
    aspect-ratio: 1/1;
    z-index: 2;
}

.product-page-whatsapp span,
.product-page-whatsapp p{
    color: var(--white);
    z-index: 2;
}

.whatsapp-message{
    padding: 10px;
    background: rgb(220, 20, 60, 0.05);
    border-radius: 4px;
    position: relative;
    border: 1px solid crimson;
}

.whatsapp-message::before{
    content: '';
    position: absolute;
    right: 120px;
    bottom: 100%;
    display: flex;
    width: 20px;
    height: 10px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: crimson;
}

.whatsapp-message p{
    color: crimson;
}

.whatsapp-message span{
    color: crimson;
}

@media screen and (max-width: 600px) {
    .whatsapp-message::before{
        right: 92px;
    }
}
