.favorites-products{
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.favorites-products li{
    width: 100% !important;
}

.favorites-products li .product-card{
    width: 100% !important;
    max-width: none !important;
}


.remove-favorite{
    opacity: 1 !important;
}

.remove-favorite:hover{
    background: red;
}

.pg-fav-filters{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.pg-fav-filters li button{
    background: rgba(0 0 0 / 0.05);
    padding: 5px;
    border-radius: 2px;
    transition: var(--t-200ms-linear);
}

.pg-fav-filters li button:hover{
    background: var(--color-1);
}

.pg-fav-filters li button:hover p{
    color: var(--white);
}

.pg-fav-filters li:nth-last-child(1) button{
    background: var(--color-1) !important;
}

.pg-fav-filters li:nth-last-child(1) button p{
    color: var(--white) !important;
}

@media screen and (max-width: 600px){
    .favorites-products{
        grid-template-columns: repeat(2, 1fr);
    }
}