.search-products-content > div{
    border-radius: 6px;
}

.filters-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

@media screen and (max-width: 600px){
    .search-products-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .search-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .search-products li{
        flex: unset;
        width: 100%;
        max-width: none !important;
        height: auto !important;
    }
}
