.whatsapp-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    width: 60px;
    height: 60px;
    background: var(--whatsapp);
    border-radius: 100%;
    z-index: 98;
}

.whatsapp-button img{
    margin: auto;
    width: 60%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

footer{
    width: 100%;
    background: #121212;
}

.footer-block-container{
    width: 100%;
    padding: 40px 20px;
    display: flex;
}

.footer-block-content{
    margin: 0 auto;
    width: 100%;
    max-width: var(--content-mx-width);
}

.footer-block-content .block-title-container{
    position: relative;
    margin-bottom: 80px;
}

.footer-block-content .block-title-container::before{
    content: '';
    position: absolute;
    left: 50%;
    top: calc(100% + 8px);
    translate: -50% 0;
    width: 200px;
    height: 4px;
    background: var(--color-1);
    border-radius: 10px;
}

.footer-block-content .block-title-container .block-title{
    color: var(--white);
}

.footer-targets{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-target{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-target .title{
    font-size: 22px;
    color: var(--white);
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.footer-list li{
    display: flex;
}

.footer-list li a{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3px;
}

.footer-list li a::before{
    content: '>';
    color: var(--color-1);
    transition: var(--t-100ms-linear);
}

.footer-list li a p{
    color: var(--white);
    transition: var(--t-100ms-linear);
}

.footer-list li a:hover::before,
.footer-list li a:hover p{
    color: var(--white);
}

.footer-list li a:hover p{
    color: var(--color-1);
}

.social-networks li a{
    width: auto;
    aspect-ratio: 1/1;
    padding: 10px;
    background: rgba(235 235 235 / 0.1);
    transition: var(--t-200ms-linear);
    border-radius: 100%;
    display: flex;
}

.social-networks li a:hover{
    background: rgba(235 235 235 / 0.2);
}

.social-networks li a img{
    display: flex;
    width: auto;
    height: 20px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.form-suscribe{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
}

.form-suscribe input{
    width: 100%;
    height: 48px;
    border: 0;
    outline: 0;
    padding: 0 16px;
    color: var(--text);
    background: var(--white);
    border-radius: 4px 0 0 4px;
}

.form-suscribe button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0;
}

.complaints-book{
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
    background: rgba(235 235 235 / 0.1);
    transition: var(--t-200ms-linear);
    border-radius: 4px;
    gap: 10px;
}

.complaints-book:hover{
    background: rgba(235 235 235 / 0.2);
}

.complaints-book span,
.complaints-book p{
    color: var(--white);
}

.footer-bottom-container{
    background: var(--black);
    padding: 10px 20px;
}

.footer-bottom{
    margin: 0 auto;
    width: 100%;
    max-width: var(--content-mx-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer-bottom > ul li{
    display: flex;
}

.footer-bottom > ul li img{
    object-fit: contain;
}

.footer-bottom > p{
    text-align: center;
}

.footer-bottom > p a{
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    footer{
        gap: 0 !important;
    }

    .footer-block-container{
        padding: 20px;
        padding-top: 60px;
    }

    .footer .block-title-container::before{
        width: 180px;
    }

    .footer-targets{
        grid-template-columns: 1fr;
    }

    .footer-bottom-container{
        padding: 40px 20px;
    }

    .footer-bottom{
        flex-direction: column;
    }

    .footer-bottom ul{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
