.ofertas-content{
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 10px;
}

.ofertas-productos .products-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.ofertas-productos .products-list > li .product-card .product-card-stock{
    display: none !important;
}

.banner-top-ofertas{
    background: crimson !important;
    padding: 30px 10px;
    border-radius: 6px;
}

.banner-top-ofertas .sale-time{
    background: none !important;
    padding: 0 !important;
}

.banner-top-ofertas div > p b{
    background: snow;
    padding: 3px 5px;
    border-radius: 3px;
}

.no-hay-productos{
    width: 100%;
    grid-column: 1/-1;
}

@media screen and (max-width: 600px){
    .ofertas-content{
        grid-template-columns: 1fr;
    }

    .ofertas-productos .products-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-top-ofertas{
        padding: 20px 10px;
        flex-direction: column;
    }
}
