.slider-general-container{
    display: flex;
    width: 100%;
    max-width: var(--content-mx-width);
    margin: 0 auto;
    height: 440px;
    border-radius: 6px;
    overflow: hidden;
}

.slider-general-container > img{
    margin: 0 auto;
    width: auto;
    max-width: var(--content-mx-width);
    height: 100%;
    max-height: 56px;
}

.hero-container{
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hero{
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
}

.slider-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-container::-webkit-scrollbar{
    display: none;
}

.slider{
    display: flex;
    height: 100%;
    will-change: transform;
}

.slider li{
    height: 100%;
    display: flex;
    position: relative;
    flex-shrink: 0;
}

.slider li a{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.slider li img{
    margin: auto;
    width: 100%;
    max-width: var(--container-mx-width);
    height: 100%;
    object-fit: cover;
}

.hero-slider-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    width: 36px;
    height: 72px;
    background: rgba(0 0 0 / 0.05);
    border-radius: 4px;
    z-index: 10;
    border: none;
    cursor: pointer;
}

.hero-slider-button:hover{
    background: rgba(0 0 0 / 0.25);
}

.hero-slider-button span{
    color: var(--color-1);
    font-size: 40px !important;
    text-shadow: 0 2px 0 rgba(0 0 0 / 0.5);
}

.hero-slider-button-1{
    left: 20px;
}

.hero-slider-button-2{
    right: 20px;
}

@media screen and (max-width: 800px){
    .slider-general-container{
        height: 320px;
    }
}

@media screen and (max-width: 600px){
    .slider-general-container{
        height: 180px;
    }

    .slider-general-container > img{
        width: 100%;
        height: auto;
        max-height: none;
    }

    .hero-container{
        max-height: 180px;
    }

    .hero-slider-button{
        width: 32px;
    }

    .hero-slider-button span{
        font-size: 24px !important;
    }
}