.slider-general-container{
    display: flex;
    width: 100%;
    max-width: var(--container-mx-width);
    margin: 0 auto;
    height: 600px;
}

.slider-general-container > img{
    margin: 0 auto;
    width: auto;
    max-width: var(--content-mx-width);
    height: auto;
    max-height: 56px;
}

.hero-container{
    margin: auto;
    width: 100%;
    height: calc(100vh - 165px);
    max-height: 600px;
    position: relative;
    overflow: hidden;
}

.hero{
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
}

.slider-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background: var(--color-2); */
}

.slider-container::-webkit-scrollbar{
    display: none;
}

.slider{
    width: 500%;
    height: 100%;
    display: flex;
    transition: all 500ms ease-in-out;
}

.slider li{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.slider li a{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.slider li img{
    margin: auto;
    width: 100%;
    max-width: var(--container-mx-width);
    height: 100%;
    object-fit: cover;
}

.hero-slider-button{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    width: 40px;
    height: 100%;
    z-index: 10;
}

.hero-slider-button:hover{
    background: rgba(0 0 0 / 0.025);
}

.hero-slider-button span{
    color: var(--color-1);
    font-size: 44px !important;
}

.hero-slider-button-1{
    left: 0;
}

.hero-slider-button-2{
    right: 0;
}

@media screen and (max-width: 600px){
    .slider-general-container{
        height: 180px;
    }

    .slider-general-container > img{
        width: 100%;
        height: auto;
        max-height: none;
    }

    .hero-container{
        max-height: 180px;
    }

    .slider{
        width: 500%;
        display: flex;
        transition: var(--t-200ms-linear);
    }

    .hero-slider-button{
        width: 30px;
    }

    .hero-slider-button span{
        font-size: 24px !important;
    }
}
