.sobre-nosotros-block-content{
    background: var(--component);
    padding: 0 !important;
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sobre-nosotros-block-content img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.sobre-nosotros-block-content div{
    padding: 20px;
}
