.sobre-nosotros-block-content{
    padding: 0 !important;
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sobre-nosotros-block-content > div > img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.sobre-nosotros-block-content > div > img:nth-child(2){
    display: none;
}

.sobre-nosotros-block-content div:nth-child(2){
    padding: 20px;
    background: var(--component);
    border-radius: 6px;
}

@media screen and (max-width: 800px){
    .sobre-nosotros-block-content{
        grid-template-columns: 250px 1fr;
    }

    .sobre-nosotros-block-content > div > img:nth-child(2){
        display: unset;
    }

    .sobre-nosotros-block-content > div > img{
        height: 100%;
    }
}

@media screen and (max-width: 600px){
    .sobre-nosotros-block-content{
        display: flex;
        flex-direction: column;
    }

    .sobre-nosotros-block-content > div > img:nth-child(2){
        display: none !important;
    }

    .sobre-nosotros-block-content img{
        height: 180px !important;
    }
}
